<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar cita</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="citaForm" (submit)="registrarCita()" novalidate >
    <ion-list>
      <ion-item>
        <ion-label>Selecciona Especialidad</ion-label>
        <ion-select
        formControlName="especialidad"
        [class.invalid]="!citaForm.controls.especialidad.valid  &&  citaForm.controls.especialidad.dirty"
        (ngModelChange)="cambioEspecialidad($event)">
          <ion-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">{{especialidad.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime
      displayFormat="DD MMMM YYYY"
      [min]="minDate"
      formControlName="fecha"
      (ngModelChange)="onChange($event)"
      [class.invalid]="!citaForm.controls.fecha.valid  &&  citaForm.controls.fecha.dirty">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime
      displayFormat="hh:mm A"
      pickerFormat="hh:mm"
      minuteValues="0, 30"
      hourValues="09,10,11,12,13,14,15,16,17"
      formControlName="hora"
      (ngModelChange)="cambioHora($event)"
      [class.invalid]="!citaForm.controls.hora.valid  &&  citaForm.controls.hora.dirty">
      </ion-datetime>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Selecciona Doctor</ion-label>
        <ion-select
        formControlName="doctor"
        [class.invalid]="!citaForm.controls.doctor.valid  &&  citaForm.controls.doctor.dirty">
          <ion-option *ngFor="let doctor of doctores" [value]="doctor.id" >{{doctor.nombre}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-row no-padding>
        <ion-col col-12>
          <button ion-button round block class="ibutton" type="submit">Registrar Cita</button>
        </ion-col>
      </ion-row>
    </ion-list>

  </form>
</ion-content>
