<ion-content padding>
    <div *ngFor="let cita of citas">
        Doctor: {{cita.d}}<br>
        Especialidad: {{cita.e}}<br>
        Fecha: {{cita.f}}<br>
        Hora: {{cita.h}}<br>
        <hr>
    </div>
    <div class="align-center" text-center *ngIf="citas.length < 1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../assets/triste.svg" width="80px" alt="">
            <p class="iText" text-center>Lo sentimos no tiene citas<br> programadas en este momento</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-footer text-center>
      <button ion-button  round class="ibutton">Reservar Cita Ahora</button>
    </ion-footer>
</ion-content>
