<ion-header>
  	<ion-navbar color='primary'>
		<ion-title>Registrate Aquí</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
	<form [formGroup]="signupForm" (submit)="signupUser()" novalidate >
		<ion-list radio-group formControlName="gene"  [class.invalid]="!signupForm.controls.gene.valid  &&  signupForm.controls.gene.dirty">
			<ion-grid>

        <ion-slides >

          <ion-slide>
            <ion-row>
              <h5 class="icolor3 no-border" no-padding>Datos Personales</h5>

              <ion-item no-padding>
                <ion-label floating>
                  <ion-icon name="ios-person"></ion-icon>
                  Nombre
                </ion-label>
                <ion-input type="text" formControlName="nombre" [class.invalid]="!signupForm.controls.nombre.valid  &&  signupForm.controls.nombre.dirty"></ion-input>
              </ion-item>
              <ion-item no-padding class="error-message" *ngIf="!signupForm.controls.nombre.valid  && signupForm.controls.nombre.dirty">
                <p>
                  Solo se permite letras.
                </p>
              </ion-item>

              <ion-item no-padding>
                <ion-label floating>
                  <ion-icon name="md-male"></ion-icon>
                  Apellido paterno
                </ion-label>
                <ion-input type="text" formControlName="apaterno" [class.invalid]="!signupForm.controls.apaterno.valid  &&  signupForm.controls.apaterno.dirty"></ion-input>
              </ion-item>

              <ion-item no-padding>
                <ion-label floating>
                  <ion-icon name="md-female"></ion-icon>
                  Apellido materno
                </ion-label>
                <ion-input type="text" formControlName="amaterno" [class.invalid]="!signupForm.controls.amaterno.valid  &&  signupForm.controls.amaterno.dirty"></ion-input>
              </ion-item>
              <ion-item no-padding class="error-message" *ngIf="(!signupForm.controls.amaterno.valid  && signupForm.controls.amaterno.dirty) || (!signupForm.controls.apaterno.valid  && signupForm.controls.apaterno.dirty)">
                <p>
                  Solo se permite letras.
                </p>
              </ion-item>

              <ion-item no-padding>
                <ion-label floating>
                  <ion-icon name="md-calendar"></ion-icon>
                  Fecha Nacimiento
                </ion-label>
                <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="fecha" [class.invalid]="!signupForm.controls.fecha.valid  &&  signupForm.controls.fecha.dirty"></ion-datetime>
              </ion-item>

              <ion-item col-6 no-padding margin-top class="no-border">
                <ion-label>Masculino</ion-label>
                <ion-radio checked="true" value="m"></ion-radio>
              </ion-item>

              <ion-item col-6 no-padding margin-top class="no-border">
                <ion-label>Femenino</ion-label>
                <ion-radio value="f"></ion-radio>
              </ion-item>

              <ion-item no-margin no-padding text-center class="no-border">
                <a ion-button margin-top right clear class="text-transform" disabled="true" (click)="anterior()">Anterior</a>
                <a ion-button margin-top round right class="ibutton" (click)="siguiente()">Siguiente</a>
              </ion-item>

            </ion-row>
          </ion-slide>

          <ion-slide>
            <h5 class="icolor3 no-border" no-padding>
              Datos de Cuenta</h5>

            <ion-item no-padding>
              <ion-label floating>
                <ion-icon name="mail"></ion-icon>
                Correo electrónico
              </ion-label>
              <ion-input type="email" formControlName="email" [class.invalid]="!signupForm.controls.email.valid  &&  signupForm.controls.email.dirty"></ion-input>
            </ion-item>

            <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
              <p>
                El correo electrónico no es valido.
              </p>
            </ion-item>

            <ion-item no-padding>
              <ion-label floating>
                <ion-icon name="md-key"></ion-icon>
                Contraseña
              </ion-label>
              <ion-input type="password" formControlName="password" [class.invalid]="!signupForm.controls.password.valid  &&  signupForm.controls.password.dirty"></ion-input>
            </ion-item>

            <ion-item no-padding class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
              <p>
                Contraseña debe ser mayor a 6 dígitos
              </p>
            </ion-item>
            <ion-item no-margin no-padding text-center class="no-border">
              <a ion-button margin-top round right class="ibutton"  (click)="anterior()">Anterior</a>
              <a ion-button margin-top clear right class="text-transform" disabled="true">Siguiente</a>
            </ion-item>
            <ion-row margin-top>
              <ion-col col-12 no-padding>

                <button ion-button  round full class="ibutton" type="submit" [disabled]="!signupForm.valid" >Registrar</button>
              </ion-col>
            </ion-row>
          </ion-slide>


        </ion-slides>

			</ion-grid>
		</ion-list>
	</form>
</ion-content>
